#mainMenu QPushButton {
    border: 1px solid #f0f0f0;
    border-radius: 16px;
    min-width: 80px;
    background-color: #f3f3f3;

    max-height: 512px;
    max-width: 512px;
}
#peace {
    background-image: url(:/peace);
    background-repeat: no-repeat;
    background-position: center top;
}
